body {
  background: #000;
  padding: 0;
  margin: 0;
  background-image: url(source/images/spirited-away-poster-2.jpeg);
}

/* Outer container - the padding will keep the container the correct proportions for the video */
.banner {
  position: relative;
  padding-bottom: 56.2%;
  width: 100%;
  overflow: hidden;
}
.poster-image {
  position: absolute;
  top: 30px;
  left: 0;
  margin-bottom: 500px;
}
.videoembed {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 50%;
}

/* If you want to include the title... */
.banner-title {
  position: absolute;
  width: 100%;
  bottom: -100px;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px 40px;
  text-align: center;
}

.banner-title h1 {
  color: #fff;
  font-size: 1.2rem;
  font-family: Arial, sans-serif;
  font-weight: normal;
}
/* small calption - optional */
.caption {
  display: flex;
  justify-content: end;
  bottom: 0;
  left: 10px;
  text-align: center;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 10px;
  font-style: italic;
}
.text-trailer {
  color: #fff;
  font-size: 1.2rem;
  font-family: Arial, sans-serif;
  font-weight: normal;
}
