@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap");
* {
  box-sizing: border-box;
}
header {
  height: 200vh;
}

h3 {
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
}
.container {
  clip: rect(0, auto, auto, 0);
  overflow: hidden;
  position: absolute;
  height: 100vh;
  left: 0;
  right: 0;
  width: 100%;
}

.container_solid {
  background: white;
  top: 0;
}

.title_wrapper {
  position: fixed;
  display: block;
  margin: auto;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.title_wrapper h1 {
  text-align: center;
  font-size: 64px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Fraunces", serif;
  font-weight: 900;
}

.container_solid .title_wrapper h1 {
  background: url(/source/images/spirited_away_xlg.jpeg);
  background-size: 100vw auto;
  background-position: center;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.container_image {
  background-image: url(/source/images/end-scene.jpg);
  background-size: 100vw auto;
  background-position: center;
  background-attachment: fixed;
  top: 100vh;
}

.container_image .title_wrapper h1 {
  color: white;
}

section {
  min-height: 100vh;
  padding: 2em;
  margin: auto;
  max-width: 800px;
}

section h2 {
  font-family: "Fraunces", serif;
}

section p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
iframe {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.coder-info {
  text-align: center;
}
.github {
  text-decoration: none;
  color: black;
  opacity: 70%;
}
.github:hover {
  color: rgb(253, 149, 149);
}
